.General-header {
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    font-size: 20px;
    background-color: #2C5697;
}

.Header-text {
    text-align: left;
    margin-left: 150px;
    width: 100%;
    color: #FFFFFF;
}

.logo {
    margin-left: 20px;
    margin-right: 20px;
    align-items: left;
    height: 50px;
    pointer-events: none;
}

hr {
    background-color: #F8CD00;
    height: 5px;
    margin: 0px;
    border: none;
}